extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='japan')
      .content
        .byline
          .classy This talk is called:
        h1
          strong Assemble
          | : Yeoman's missing piece
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://goodfil.ms') http://goodfil.ms
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='trolling')
      .content
        .byline
          .classy But first...
        h1
          strong Trolling!
        .unbrokenline

    section(data-bespoke-state='iframe')
      .iframe-holster.zoomed
        h4 Angular rulez
        iframe(src="http://www.google.com/trends/fetchComponent?hl=en-US&q=angularjs,+emberjs&date=1/2012+18m&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=700&h=600")

    section(data-bespoke-state='iframe')
      .iframe-holster.no-animation.zoomed
        h4 Ok...
        iframe(src="http://www.google.com/trends/fetchComponent?hl=en-US&q=angularjs,+emberjs,+jquery&date=1/2012+18m&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=700&h=600")

    section(data-bespoke-state='iframe')
      .iframe-holster.no-animation.zoomed
        h4 ...maybe popularity...
        iframe(src="http://www.google.com/trends/fetchComponent?hl=en-US&q=angularjs,+emberjs,+jquery,+php&date=1/2012+18m&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=700&h=600")

    section(data-bespoke-state='iframe')
      .iframe-holster.no-animation.zoomed
        h4 ...isn't everything.
        iframe(src="http://www.google.com/trends/fetchComponent?hl=en-US&q=angularjs,+emberjs,+jquery,+php,+justin+bieber&date=1/2012+18m&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=700&h=600")

    section(data-bespoke-state='japan')
      .content
        .byline
          .classy Ok back to the talk:
        h1
          strong Assemble
          | : Yeoman's missing piece
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://goodfil.ms') http://goodfil.ms
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='underconstruction')
      .content
        .byline
          .classy Full disclosure:
        h2 Assemble
        .byline
          .classy is still a
        h2
          strong work in progress
        .unbrokenline

    section(data-bespoke-state='underconstruction')
      .content
        .byline
          .classy Which is to say
        h1 it is
          strong  usable
        .byline
          .classy but
        h1 not
          strong  easy to use
        .unbrokenline

    section(data-bespoke-state='yeoman')
      .content
        .byline
          .classy But first
        h1 let's talk about
          strong  Yeoman
        .unbrokenline

    section(data-bespoke-state='iframe')
      .iframe-holster
        h4 http://yeoman.io
        iframe(src='http://yeoman.io/')

    section(data-bespoke-state='yeoman')
      .content
        .unbrokenline
        h1
          strong Yeoman
          |  is designed
        .byline
          .classy for
        h1 developers to
          strong  be productive
        .byline
          .classy without
        h1
          strong understanding
          |  its internals
        .unbrokenline

    section(data-bespoke-state='underconstruction')
      .content
        .byline
          .classy But
        h1 Yeoman is
          strong  not there yet
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Hidden assumptions:
        h2.strike Your CSS must be called main.{css,scss,sass}
        .byline
          .classy &
        h2.strike Coffeescript output isn't minified/revved like JS
        .byline
          .classy &
        h2 Any HTML that isn't index.html isn't treated as code
        .byline
          .classy &
        h2 No server-side templates/partials
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Thankfully,
        h2
          strong Assemble
          |  fixes those last two
        .unbrokenline

    section(data-bespoke-state='iframe')
      .iframe-holster
        h4 http://assemble.io
        iframe(src='http://assemble.io/')

    section(data-bespoke-state='iframe')
      .iframe-holster
        h4 http://assemble.io/docs
        iframe(src='http://assemble.io/docs')

    section(data-bespoke-state='iframe')
      .content
        h3 Adding it to webapp
        script(src="https://gist.github.com/geelen/5963874.js?file=1.dothis.sh")
        script(src="https://gist.github.com/geelen/5963874.js?file=2.package.json.diff")
        script(src="https://gist.github.com/geelen/5963874.js?file=4.index.html.diff")

    section(data-bespoke-state='iframe')
      .content
        h3 Adding it to webapp
        script(src="https://gist.github.com/geelen/5963874.js?file=3.Gruntfile.js.diff")

    section(data-bespoke-state='success')
      .content
        .unbrokenline
        h1
          strong Thank You!
        .unbrokenline

    section(data-bespoke-state='copter')
      .content
        .byline
          .classy For more information:
        h3 https://github.com/geelen/assemble-talk
        .byline
          .classy or hit me up on Twitter
        .me
        h3
          a(href='https://twitter.com/glenmaddern') @glenmaddern
